.card {

  & > * {
    padding: 1rem 0;
  }

  display: grid;
  grid-auto-flow: row;
  grid-template-rows: 25vh repeat(4, 1fr);
  box-sizing: border-box;
  padding: 1.2rem;
  box-shadow: .4rem .4rem 1.6rem rgba( 0, 0, 0, .2 );
  border-radius: 18px;
  justify-items: center;

  &Image {
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 1.2rem;
    width: 100%;

    .fa-heart, .fa-star {
      position: absolute;
      right: 0;
      bottom: 0;
      padding: 0 1.5rem 1.5rem 0;
      color: #1165B2;
    }

  }

  &Header {
    display: flex;

  }

  h3 {
    margin: 0;
    font-size: 1.6rem;
  }

  &Color {
    display: flex;
    width: 100%;
    color: #151515;

    p {
      flex-grow: 1;
      font-size: 1.6rem;
    }

    div {
      width: 3rem;
      height: 3rem;
    }

  }

  &Price {
    color: #7D7D7D;
  }


}