
.modal {

  &Backdrop {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    display: flex;

  }

  &Wrapper {
    color: #1165B2;
    margin: 0 auto;
    align-self: center;
    user-select: none;
    display: flex;
    flex-direction: column;
    width: 40vw;
    box-sizing: border-box;
    background-color: #fff;

  }

  &Header {
    display: flex;
    background-color: #fff;
    font-size: 2.5rem;
    padding: 1rem;

    h4 {
      flex-grow: 1;
    }

  }

  &Text {
    font-size: 1.5rem;
    line-height: 2rem;
    padding: 0.5rem;
    justify-self: center;
    align-self: center;
    text-align: center;

  }

  &Buttons {

  }


}


