.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

* {
  margin-block: 0;
  margin-inline: 0;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  background-color: lightgrey;
}

#root {
  font-family: "Orbitron", sans-serif;
  font-weight: 700;
  font-size: 2.4rem;
  max-width: 1366px;
  margin: 0 auto;
  background-color: #fff;
  padding: 3rem;
  color: #151515;
  user-select: none;

}

.modalButtons {

  display: flex;
  width: 100%;

  button {
    flex-grow: 1;
    margin: 1rem;
  }

}